In [120]:
import pandas as pd
import numpy as np

In [156]:
d = pd.read_csv('graph_inference_sets.csv')

In [157]:
# d.groupby('pair_index').to_json('graph_inference_sets.json', orient='records')

AttributeError: 'DataFrameGroupBy' object has no attribute 'to_json'

In [158]:
d_sub = d[['concept','congruence_cond','semantic_distance_cond','set_number','hex','uw_71','pair_index']]

In [160]:
# create a nested json using dsub where pair index is the first key and then concept is the second key then congruence_cond is the third key and then semantic_distance_cond is the fourth key and hex is the value

# d_sub.groupby(['pair_index','concept','congruence_cond','semantic_distance_cond']).to_json('graph_inference_sets.json', orient='index')

In [161]:


# out = {'pair_index':d_sub.groupby('pair_index')['concept','congruence_cond','semantic_distance_cond','hex'].last().to_dict(orient='index')}

In [162]:
# d_sub.groupby('pair_index')['concept','congruence_cond','semantic_distance_cond','hex'].last()

In [163]:
# d_sub.head(200)

array([0, 1])

In [164]:
# final_dict = {}
# semantic_dict = {}
# concept_dict = {}
# set_dict = {}
# congruence_dict = {}
# hex_dict = {}
# for this_pair in d_sub.pair_index.unique():
#     ds = d_sub[d_sub.pair_index==this_pair]
#     for this_set in ds.set_number.unique():
#         ds2 = ds[ds.set_number==this_set]
#         for this_concept in ds2.concept.unique():
#             print(ds2.concept.unique())
#             ds3 = ds2[ds2.concept==this_concept]
#             for this_congruence in ds3.congruence_cond.unique():
#                 ds4 = ds3[ds3.congruence_cond==this_congruence]
#                 for this_semantic in ds4.semantic_distance_cond.unique():
#                     ds5 = ds4[ds4.semantic_distance_cond==this_semantic]
                 
#                     semantic_dict[str(this_semantic)] = ds5.hex.values[0]
#                     # print(ds5.hex.values[0])
#                 congruence_dict[str(this_congruence)] = semantic_dict
#             concept_dict[str(this_concept)] = congruence_dict
#         set_dict[str(this_set)] = concept_dict
#     final_dict[str(this_pair)] = set_dict

In [172]:
# final_dict = {}

concept_dict = {}
# set_dict = {}

# hex_dict = {}

for this_concept in d_sub.concept.unique():

    ds = d_sub[d_sub.concept==this_concept]
    congruence_dict = {}
    for this_congruence in ds.congruence_cond.unique():
        ds2 = ds[ds.congruence_cond==this_congruence]
        semantic_dict = {}
        for this_semantic in ds2.semantic_distance_cond.unique():
            ds3 = ds2[ds2.semantic_distance_cond==this_semantic]
            # print( ds3.hex.values[0])
            semantic_dict[str(this_semantic)] = int(ds3.uw_71.values[0])
        congruence_dict[str(this_congruence)] = semantic_dict
    concept_dict[str(this_concept)] = congruence_dict

In [173]:
concept_dict

{'apple': {'True': {'HIGH': 62, 'LOW': 66}, 'False': {'HIGH': 47, 'LOW': 2}},
 'peach': {'True': {'HIGH': 47, 'LOW': 2}, 'False': {'HIGH': 62, 'LOW': 66}},
 'field': {'True': {'HIGH': 37, 'LOW': 8}, 'False': {'HIGH': 0, 'LOW': 11}},
 'beach': {'True': {'HIGH': 0, 'LOW': 11}, 'False': {'HIGH': 37, 'LOW': 8}},
 'celery': {'True': {'HIGH': 50, 'LOW': 11}, 'False': {'HIGH': 69, 'LOW': 44}},
 'banana': {'True': {'HIGH': 69, 'LOW': 44}, 'False': {'HIGH': 50, 'LOW': 11}},
 'peace': {'True': {'HIGH': 32, 'LOW': 63}, 'False': {'HIGH': 24, 'LOW': 26}},
 'evil': {'True': {'HIGH': 24, 'LOW': 26}, 'False': {'HIGH': 32, 'LOW': 63}},
 'love': {'True': {'HIGH': 34, 'LOW': 62}, 'False': {'HIGH': 26, 'LOW': 63}},
 'justice': {'True': {'HIGH': 26, 'LOW': 63},
  'False': {'HIGH': 34, 'LOW': 62}},
 'cherry': {'True': {'HIGH': 62, 'LOW': 45}, 'False': {'HIGH': 14, 'LOW': 5}},
 'grape': {'True': {'HIGH': 14, 'LOW': 5}, 'False': {'HIGH': 62, 'LOW': 45}},
 'frog': {'True': {'HIGH': 50, 'LOW': 34}, 'False': {'HIGH': 70, 'LOW': 43}},
 'lion': {'True': {'HIGH': 70, 'LOW': 43}, 'False': {'HIGH': 50, 'LOW': 34}},
 'bear': {'True': {'HIGH': 24, 'LOW': 43}, 'False': {'HIGH': 4, 'LOW': 23}},
 'fish': {'True': {'HIGH': 4, 'LOW': 23}, 'False': {'HIGH': 24, 'LOW': 43}},
 'eating': {'True': {'HIGH': 69, 'LOW': 47}, 'False': {'HIGH': 24, 'LOW': 0}},
 'sleeping': {'True': {'HIGH': 24, 'LOW': 0},
  'False': {'HIGH': 69, 'LOW': 47}},
 'wildfire': {'True': {'HIGH': 62, 'LOW': 63},
  'False': {'HIGH': 42, 'LOW': 56}},
 'sandstorm': {'True': {'HIGH': 42, 'LOW': 56},
  'False': {'HIGH': 62, 'LOW': 63}},
 'carrot': {'True': {'HIGH': 61, 'LOW': 62}, 'False': {'HIGH': 69, 'LOW': 23}},
 'corn': {'True': {'HIGH': 69, 'LOW': 23}, 'False': {'HIGH': 61, 'LOW': 62}},
 'mushroom': {'True': {'HIGH': 42, 'LOW': 31},
  'False': {'HIGH': 7, 'LOW': 16}},
 'eggplant': {'True': {'HIGH': 7, 'LOW': 16},
  'False': {'HIGH': 42, 'LOW': 31}},
 'blizzard': {'True': {'HIGH': 10, 'LOW': 23},
  'False': {'HIGH': 42, 'LOW': 21}},
 'drought': {'True': {'HIGH': 42, 'LOW': 21},
  'False': {'HIGH': 10, 'LOW': 23}},
 'glacial ice': {'True': {'HIGH': 28, 'LOW': 44},
  'False': {'HIGH': 5, 'LOW': 24}},
 'ocean water': {'True': {'HIGH': 5, 'LOW': 24},
  'False': {'HIGH': 28, 'LOW': 44}},
 'sunset': {'True': {'HIGH': 48, 'LOW': 42}, 'False': {'HIGH': 0, 'LOW': 28}},
 'sky': {'True': {'HIGH': 0, 'LOW': 28}, 'False': {'HIGH': 48, 'LOW': 42}},
 'sunshine': {'True': {'HIGH': 69, 'LOW': 69},
  'False': {'HIGH': 25, 'LOW': 25}},
 'shade': {'True': {'HIGH': 25, 'LOW': 25}, 'False': {'HIGH': 69, 'LOW': 69}}}

In [174]:
d_sub[d_sub.concept=='apple']

,concept,congruence_cond,semantic_distance_cond,set_number,hex,uw_71,pair_index
0,apple,True,HIGH,1,#ea1d1d,62,0
32,apple,True,LOW,1,#aac510,66,1
64,apple,False,HIGH,1,#f1a78a,47,1
96,apple,False,LOW,1,#8558f4,2,1

In [175]:
# concept_dict.to_json('graph_inference_sets_2.js', orient='index')

In [176]:
import json
with open('graph_inference_sets_2.json', 'w') as json_file:
     json.dump(concept_dict,json_file)

In [201]:
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from scipy import stats
from collections import Counter

In [202]:


db = mysql.connector.connect(
   host="localhost",
    port= 3306,
   user="kushinm",
   passwd="localtesting",
    db = 'graph_inference'
)
cursor = db.cursor()

cursor.execute("SHOW TABLES")    # execute 'SHOW TABLES' (but data is not returned)
for (table_name,) in cursor:
    print(table_name)

table_name = 'condition_log'

condition_log
data_log
register_log

In [198]:
df = pd.read_sql_query("SELECT * FROM {}".format(table_name),
    db) ### convert table into dataframe

/var/folders/62/ybvc3cw53hj40799y980__gr0000gn/T/ipykernel_39722/1078318219.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM {}".format(table_name),

In [203]:
# cursor.execute('DELETE from data_log')
# db.commit()
# cursor.execute('DELETE from condition_log')
# db.commit()
# cursor.execute('DELETE from register_log')
# db.commit()

In [200]:
df.head(20)

    rowID   subjectID  assignedCondition
0       9  84jof02hkm                  0
1      10  j9bwe5pnct                  1
2      11  ulnv4l8ah3                  2
3      12  d7xpx1czxq                  3
4      13  yzr6lyqmf2                  4
5      14  dhoghhha4h                  5
6      15  kmkp59su8f                  6
7      16  hmcfxwngqq                  7
8      17  nrxqqs42ub                  8
9      18  d36c4f4brt                  9
10     19  s04znm4j6y                 10
11     20  n3lrmxgx8f                 11
12     21  kltl117zxy                 12
13     22  s8thqjgs3t                 13
14     23  5s1r2mc7el                 14
15     24  1hf0zs998e                 15
16     25  05196xsw58                  0
17     26  7nacqj9vj8                  1
18     27  dgn8buhthx                  2
19     28  0y2sf80dge                  3